body{
    background-image: url("/home/steve/Documents/moringa-school-projects/akan-names/images/african.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}
h1{
    text-align: center;
    font-size: 40px;
    color: gainsboro);
}
form{
    margin: 25px auto;
    width: 290px;
    color: black;
}
input{
    padding: 15px;
    font-size: inherit;
}

input[type="century"]{
    display: block;
    margin-bottom: 25px;
    width: 100%;
    border: 2px solid black;
}

input[type="year"]{
    display: block;
    margin-bottom: 25px;
    width: 100%;
    border: 2px solid black;
}

input[type="number"]{
    display: block;
    margin-bottom: 25px;
    width: 100%;
    border: 2px solid black;
}

input[type="text"]{
    display: block;
    margin-bottom: 25px;
    width: 100%;
    border: 2px solid black;
}

input[type="radio"]{
    margin: 0 8px 25px 18px;
}
input[type="radio"]:first-child{
    margin-left: 0;
}

input[type="submit"]{
    width: 300px;
    height: 45px;
    border: none;
    background: slategrey;
    color: white;
}

input:focus{
    background: white;
}
input[type="radio"]:checked + label {
    font-weight: bold;
    font-size: 18px;
}

p
{
text-align: left;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serifS;
font-size: medium;
font-style: oblique;
}